/* Global style  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 2.6rem;
}
li,button,label,input,p {
  font-size: 2rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3rem;
  font-weight: normal; /* text not bold */
}
h4,h5 {
  font-size: 2.8rem;
}
a {
  color: white;
  text-decoration: none;
}
button {
  padding: 2rem 6rem;
  background: #4c6e97;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}
button:hover {
  background: #27394e;
}

/* NAVIGATION BAR SECTION WITH HERO  */

.main-head {
  background: #131c27;
  color: white;
}
nav { /* parent element */
  display: flex;
  width: 90%; /*leave 10% width for margin, 5% for left and 5% for right */
  margin: auto; /*auto get 5% for each margin left and right */
  padding: 2rem;
  min-height: 10vh; /* when resize the window, the bar doesn't get smaller than 1/10 of the screen */
  align-items: center;
  flex-wrap: wrap; /* mobile friendly, ul not collapsed but jump to the next line when screen is smaller */
}
#logo { /*child element of nav */
  flex: 2 1 40rem;
  font-family: 'Pattaya', sans-serif;
  font-weight: normal; /* text not bold */
}
nav ul { /*child element of nav */
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.hero {
  min-height: 90vh;
  background: linear-gradient(rgb(0,0,0,0.2),transparent), url("img/landing-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h3 {
  padding: 5rem;
}

/* LOCATIONS SECTION  */
#locations {
  min-height: 100vh;
  background: linear-gradient(rgb(0,0,0,0.2),transparent), url("img/new-york-page.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden; /* hide everything that goes out of the section*/
  /* z-index: 0; */
}
.locations-head {
  width: 90%;
  margin: auto;
}
.locations-head h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem; /* make the text thicker */
}
.locations-head h3 {
  padding: 4rem 0rem;
  background: linear-gradient(#131c27,#663b34);
  -webkit-background-clip: text; /* only works with Chrome if browser prefix -webkit is included, so always use it */
  -webkit-text-fill-color: transparent;
}

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
}
.moving-cloud-1 {
  animation: cloudAnimation 3s infinite alternate ease-in-out;
  z-index: -1; /* set z-index so the cloud stays under the text, which by default has z-index 0 */
}
.moving-cloud-2 {
  top: 20%;
  z-index: -2; /* set z-index so the cloud stays under the text, which by default has z-index 0 */
  opacity: 0.5;
  animation: cloudAnimation 3.5s infinite alternate ease-in-out;
}

@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%); /* move the cloud back and forth 10%, x and y axis */
  }
  to {
    transform: translate(0%, 0%);
  }
}

/* BENEFITS SECTION */
.benefits-head {
  background: #343c44;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.benefits-head h3 {
  padding: 1rem;
}
.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center; /* without this, the card takes up the whole space of the parent */
  flex-wrap: wrap; /* when resize to smaller screens like phone, the cards move down to 1 column */
  text-align: center;
}
.card {
  flex: 1 1 25rem; /* 25rem is the width, makes it responsive when we resize the page */
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgb(0,0,0,0.1), 0px 20px 20px rgb(0,0,0,0.1); /* x y blur color; 2 box shadows, intense at the beginning and fading at the end */
}
.card-icon {
  background: #4c6e97;
}
.cards img {
  max-width: 15%;
  margin: 2rem;
}
.card h4, .card p {
  padding: 1rem;
}



/* MEDIA QUERY */
/* when the screen width gets smaller than 950px, the settings in media query come into effect, very useful when making website look good in small devices, can test diffent phones size with chrome inspect, can create a new media query with another max-width for another device */
@media screen and (max-width: 950px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 1rem;
  }
  .cloud {
    height: 40rem;
    pointer-events: none; /* users cannot grab the cloud, now they can grab/select the text */
  }
  .locations-head h3 {
    background: rgb(19,28,39,0.8);
    -webkit-text-fill-color: white;
  } /* change text color and its background so that the paragraph stands out in the photo when users use small size devices */
}
